.container-left {
    background-image: url(/cloneInstagram--SASS/assets/loginPage_leftC_bgImg.png);
    background-position-y: top;
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 120%;
}